body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e5e5e5;
}

.container {
    display: flex;
    height: 100vh;
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
}

/* Top form */
.top-form {
    border: 6px solid #a18888;
    padding: 15px;
    margin-bottom: 20px;
    background: #d7ccc8;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    width: 100px;
}

.form-row input {
    flex: 1;
    padding: 8px;
    border: none;
    background: #eeeeee;
}

/* Box */
.box {
    border: 6px solid #a18888;
    padding: 20px;
    background: #eeeeee;
}

.box h3 {
    text-align: center;
    margin-top: 0;
}

/* Params */
.param-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.param-row label {
    width: 150px;
}

.param-row input {
    width: 200px;
    padding: 6px;
}

/* Logs */
.logs {
    margin-top: 20px;
    padding: 15px;
    background: #d7ccc8;
    height: 80px;
}

/* Bottom buttons */
.bottom-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.auto {
    background: #42a5f5;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

.reset {
    background: #4dd0e1;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

.next {
    background: #00e676;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}