@import url("/src/templates/css/btn-color.css");

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e5e5e5;
}

.container {
    display: flex;
    height: 100vh;
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
}

/* Top section */
.top-section {
    display: flex;
    gap: 20px;
}

/* Chart */
.chart-box {
    flex: 2;
    height: 250px;
    background: #a18888;
}

/* Right panel */
.info-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-box {
    background: #eeeeee;
    padding: 15px;
}

.status-box {
    background: #eeeeee;
    padding: 15px;
}

/* Logs */
.logs {
    margin-top: 15px;
    background: #eeeeee;
    padding: 15px;
    height: 80px;
}

/* Actions */
.actions {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

/* Buttons */
.actions button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

